@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 24, 23, 26;
    --background-color: 237, 235, 245
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-color))
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}